
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Master.cshtml";
}
<!--navigation-->
<div class="banner">
		<div class="top-nav">
			<div class="container">
				<div class="navbar-header logo">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="wow fadeInDown animated" data-wow-delay=".5s"><a href="/Home/Index">S<span>T</span></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-right">
						
						<li><a href="/Image/Create" class="link " data-letters="About">Upload</a></li>
						<li><a href="/Image/Delete" class="link " data-letters="Services">Delete</a></li>
                        <li><a href="/Home/Index" class="link " data-letters="Services">Home</a></li>
						
						
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
    </div>	
		<!--//navigation-->

@*<div class="container">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-right">
						<li><a href="/Image/Create"  data-letters="Home">Upload Image</a></li>
						<li><a href="/Image/Delete"  data-letters="About">Delete Image</a></li>
						
					</ul>
					<div class="clearfix"> </div>
				</div>
    </div>*@